modules = ["nodejs-20", "web", "nix"]
hidden = [".config", "package-lock.json"]
run = "node index.js"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "gce"
ignorePorts = false
build = ["sh", "-c", "npm install express body-parser fca-unofficial"]

[[ports]]
localPort = 3000
externalPort = 80
